// Variables
$light: #f5f4ec;
$dark: #404c52;
$black: #17181A;
$gray: #a6b0bf;
$main: #26596A;
$accent: #AA7339;
$accent-red: #AA4B39;
$accent-light: #B29C85;
$font-headings: "Roboto Condensed",
sans-serif;
$font-body: "Roboto",
sans-serif;
$shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.5);
$shadow-large: 0 30px 50px -20px rgba(0, 0, 0, 0.5);
$button-height: 27px;
$button-width: 35px;
$transition: cubic-bezier(0.7, 0, 0.3, 1);

/* $light: #f5f4ec;
$dark: #404c52;
$gray: #acaa98;
$main: #c1533c;
$accent: #cb974c; */